# Ignore general target folders
target/

# Include Maven wrapper jar
!.mvn/wrapper/maven-wrapper.jar

# Include target folders inside src/main/ and src/MyTest/ directories
!**/src/main/**/target/
!**/src/MyTest/**/target/

# Ignore IntelliJ IDEA files
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

# Ignore Eclipse files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Ignore NetBeans files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/MyTest/**/build/

# Ignore VS Code settings
.vscode/

# Ignore Mac OS specific files
.DS_Store

# Explicitly include Java source files (if needed)
/src/main/java/BlackjackGameLogic.java
/src/main/java/Card.java
/src/test/java/MyTest.java
